.container-Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    padding: 8px;
    border-radius: 5%;
    background-color: #fff;
    box-shadow: 0 0 3px #7a7a7cc9;
}
.container-Contact img {
    border-radius: 50%;
    width: 50%;
}
.caixa-DadosContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}