#container-Lateral {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
    position: fixed;
    margin-left: 80px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 3px #7a7a7cc9;
    background-color: #fff;
}
#area-User {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 15px;
}
#area-User img {
    width: 200px;
    border-radius: 50%;
}
.btn-Nav {
    display: flex;
    align-items: center;
    font-weight: bolder;
    gap: 3px;
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 5px 2px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: transparent;
}
.btn-Nav:hover {
    background-color: rgba(0, 0, 0, 0.158);
}
#container-Lateral h3 {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 2px;
    color: #000/* #696B6F */;
    font-weight: bolder !important;
}

#grup-Nav img {
    margin-right: 5px;
}
#container-Lateral ul {
    list-style-type: none;
}
#container-Lateral ul li {
    padding: 5px 2px;
    border-radius: 5px;
    color: #000;
}
#container-Lateral ul li:hover {
    background-color: rgba(0, 0, 0, 0.158);
}
.lista-Nav {
    margin-left: 20px;
}

@media(max-width: 1710px) {
    #container-Lateral{
        margin-left: 30px;
        width: 250px;
    }
    #area-User img {
        width: 150px;
    }
}
@media(max-width: 1024px){
    #container-Lateral{
        margin-left: 20px;
        width: 200px;
    }
    #area-User img {
        width: 120px;
    }
    
}